img {
  width: auto;
  height: auto;
  max-width: 400px;
  max-height: 400px;
}

input{
    width: auto;
	  height: auto;
    max-width: 400px;
    max-height: 400px;
}

.card {
    font-family: arial;
    font-size: 20px;
    text-align: center;
    color: black;
    background-color: white;
}

table {
  margin: auto;
}

td {
  text-align: left;
}

.context {
  margin: auto;
  max-width: 500px;
}

.words {
	text-align: left;
}

blockquote {
  border-left: 4px solid #ccc;
  padding-left: 16px;
  color: #555;
  margin: 1em 0;
  background: #f9f9f9;
  max-width: 500px;
  margin: auto;
}
